body {
    background-color: #645853;
    font-family: fantasy;
}
#card1 {
    margin-top: 5%;
    margin-left: 20%;
    background-color: #A8BA9A;
    /* #A8BA9A */
    box-shadow: 0 0 10px 2px;
}
.btn {
    background-color: #F4442E;
    border: none;
    margin: 10px;
}
.hide {
    display: none;
}
#card2 {
    margin-top: 5%;
    margin-left: 20%;
    
}