body {
    background-color: rgb(197, 98, 5);
    font-family: fantasy;
}
#card1 {
    margin-top: 5%;
    margin-left: 20%;
    background-color: white;
    box-shadow: 0 0 10px 2px;
}
.hide {
    display: none;
}
.btn {
    margin: 10px;
}
#card2 {
    margin-top: 5%;
    margin-left: 20%;
    
}